# The following packages are required for the tool functionality
# Install by executing the following script

tshark && wireshark
 sudo add-apt-repository -y ppa:wireshark-dev/stable
 sudo apt install -y tshark
 sudo apt-get install wireshark

# Install figlet and Lolcat

figlet:
  sudo apt install figlet lolcat
